/* plugin: definitionlist */
 
dl.plugin_definitionlist, dt, dd {margin: 0; padding: 0}

dl.plugin_definitionlist {
  font-size: 90%;
  padding-top: 1px;
}

html>body dl.plugin_definitionlist {
  padding-bottom: 0.5em;
  border-bottom: 1px dashed #e0e0e0;
}

dl.plugin_definitionlist:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

dl.plugin_definitionlist dt {
  clear: left;
  margin-top: 0.5em;
}

dl.plugin_definitionlist dt+dt {
  margin-top: 0;
}

dl.plugin_definitionlist dd+dt {
  border-top: 1px dashed #e0e0e0;
  padding-top: 0.5em;
}

dl.plugin_definitionlist dt span.term {
  float: left;
  width: 10em;
}

dl.plugin_definitionlist dd {
  margin-left: 10.3em;
  padding-left: 0.8em;
  background: url(images/bullet.gif) no-repeat 0 0.4em;
}

dl.plugin_definitionlist dd p {
  margin: 0;
  padding: 0;
}

* html dl.plugin_definitionlist { height: 1px; }

/* end plugin: definitionlist */
